.header {
  width: 100%;
  background-color: #FCDB00;
  margin-bottom: 115px; }
  .header .header-top {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 250px; }
    @media (max-width: 980px) {
      .header .header-top {
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-bottom: 100px; } }
    @media (max-width: 480px) {
      .header .header-top {
        padding-bottom: 50px;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -ms-flex-align: center;
        align-items: center; } }
    .header .header-top .header-top__parts {
      width: 33.33%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media (max-width: 980px) {
        .header .header-top .header-top__parts:last-child {
          display: none; } }
      @media (max-width: 480px) {
        .header .header-top .header-top__parts {
          -ms-flex-pack: center;
          justify-content: center;
          margin-bottom: 30px; } }
      .header .header-top .header-top__parts button {
        background-color: #FCDB00;
        outline: none;
        border: none;
        cursor: pointer; }
    .header .header-top .header-top__fingerprint {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center; }
      .header .header-top .header-top__fingerprint img {
        margin-right: 10px; }
    .header .header-top .ion-navicon-round {
      font-size: 24px; }
    .header .header-top .header-top__icons-social {
      font-size: 24px;
      width: 148px;
      display: -ms-flexbox;
      display: flex;
      text-decoration: none;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .header .header-top .header-top__icons-social .icon {
        color: black; }
    .header .header-top span {
      font-size: 30px;
      font-weight: 700; }

.title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center; }
  .title h1 {
    font-weight: 700;
    font-size: 48px;
    text-align: center; }
    @media (max-width: 760px) {
      .title h1 {
        font-size: 35px; } }
    @media (max-width: 480px) {
      .title h1 {
        font-size: 20px; } }
  .title p {
    width: 500px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    padding: 25px 0 40px; }
    @media (max-width: 760px) {
      .title p {
        width: 360px;
        font-size: 16px; } }
    @media (max-width: 400px) {
      .title p {
        width: 215px; } }
  .title button {
    font-size: 22px;
    font-weight: 700;
    background-color: #FCDB00;
    border: 2px solid black;
    padding: 20px 73px;
    outline: none;
    cursor: pointer;
    transition: 0.25s; }
    .title button:hover {
      background-color: black;
      color: #FCDB00; }
    .title button:active {
      background-color: black;
      border-color: #FCDB00; }

.header-arrow-bottom {
  text-align: center;
  padding: 170px 0 50px 0; }
  @media (max-width: 760px) {
    .header-arrow-bottom {
      padding: 85px 0 25px 0; } }
  .header-arrow-bottom a {
    font-size: 32px;
    color: black; }
